<div class="row">
  <div class="form-group col-md-12">
      <button type="button" class="btn btn-danger" (click)="cancel()">Return</button>
      <button type="button" class="btn btn-secondary" (click)="copyToClipboard()">Copy To Clipboard</button>
      <button type="button" class="btn btn-info" (click)="download()">Download</button>
    </div>
</div>
<div class="row">
  <div class="form-group col-md-12">
    <textarea class="form-control" name="specification" rows="20" #myInput>{{specification}}</textarea>
  </div>
</div>